<a href="https://colab.research.google.com/github/mini3713/mini3713/blob/main/occupancy/data_preprocessing_2014%2B2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
feature = pd.read_csv("/content/2014_시간대_전체_20230112_71326.csv", encoding="cp949")
feature2 = pd.read_csv("/content/2014_시간대_전체_20230112_37950.csv", encoding="cp949")

In [ ]:
# 2014 데이터를 2019 데이터 순서와 일치하도록 수정 
feature = feature[['행정구역시도코드','가구일련번호','가구원번호','조사요일코드','요일구분코드','만연령','연령코드','경제활동상태코드']]
work = feature2['근무등교코드']
number = feature2['조사차수']

In [ ]:
new_feat = pd.concat([number, feature, work], axis=1)
new_feat.head()

   조사차수  행정구역시도코드  가구일련번호  가구원번호  조사요일코드  요일구분코드  만연령  연령코드  경제활동상태코드  근무등교코드
0     5        11       1      1       3       1   42     4       1.0       1
1     5        11       1      1       4       1   42     4       1.0       1
2     5        11      10      1       6       1   80     6       3.0       1
3     5        11      10      1       7       2   80     6       3.0       1
4     5        11     100      1       5       1   69     6       3.0       1

* 조사요일코드, 근무등교코드 다름

In [ ]:
# 코드 일치 작업
for i in new_feat.index:
  val = new_feat.loc[i, '조사요일코드']
  if val > 0 : new_feat.loc[i, '조사요일코드'] = -1 + val 
  else : pass

In [ ]:
for i in new_feat.index:
  val = new_feat.loc[i, '근무등교코드']
  if val == 3 : new_feat.loc[i, '근무등교코드'] = 2 
  else : pass

In [ ]:
new_feat['조사요일코드'].value_counts()

5    10841
6    10808
0    10741
2     5406
3     5406
4     5397
1     5377
Name: 조사요일코드, dtype: int64

In [ ]:
new_feat['근무등교코드'].value_counts()

2    27182
1    26794
Name: 근무등교코드, dtype: int64

In [ ]:
feat_2014 = new_feat[['조사차수','행정구역시도코드','조사요일코드','요일구분코드','연령코드','근무등교코드']]

In [ ]:
ff = pd.read_csv("/content/2014_시간대_전체_20230112_71326.csv", encoding="cp949")
new_ts = ff.iloc[:,8:]
new_ts

,장소이동수단1코드,장소이동수단2코드,장소이동수단3코드,장소이동수단4코드,장소이동수단5코드,장소이동수단6코드,장소이동수단7코드,장소이동수단8코드,장소이동수단9코드,장소이동수단10코드,...,장소이동수단135코드,장소이동수단136코드,장소이동수단137코드,장소이동수단138코드,장소이동수단139코드,장소이동수단140코드,장소이동수단141코드,장소이동수단142코드,장소이동수단143코드,장소이동수단144코드
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53972,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53973,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# 2014 시계열 데이터를 2019 코드와 일치하는 작업
for i in range(0, new_ts.shape[0]) :     
    for k in range(0, new_ts.shape[1]) :         
        a = new_ts.iloc[int(i), int(k)]
        if a == 0 : new_ts.iloc[int(i), int(k)] = 1       
        else : new_ts.iloc[int(i), int(k)] = 0
            
new_ts.head()

,장소이동수단1코드,장소이동수단2코드,장소이동수단3코드,장소이동수단4코드,장소이동수단5코드,장소이동수단6코드,장소이동수단7코드,장소이동수단8코드,장소이동수단9코드,장소이동수단10코드,...,장소이동수단135코드,장소이동수단136코드,장소이동수단137코드,장소이동수단138코드,장소이동수단139코드,장소이동수단140코드,장소이동수단141코드,장소이동수단142코드,장소이동수단143코드,장소이동수단144코드
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
data_2014 =  pd.concat([feat_2014, new_ts], axis=1)
data_2014.to_excel(excel_writer='Time use survey_Korea_2014.xlsx')

In [28]:
data_14 = pd.read_excel('/content/Time use survey_Korea_2014.xlsx')
data_14.head()

,Unnamed: 0,조사차수,행정구역시도코드,조사요일코드,요일구분코드,연령코드,근무등교코드,장소이동수단1코드,장소이동수단2코드,장소이동수단3코드,...,장소이동수단135코드,장소이동수단136코드,장소이동수단137코드,장소이동수단138코드,장소이동수단139코드,장소이동수단140코드,장소이동수단141코드,장소이동수단142코드,장소이동수단143코드,장소이동수단144코드
0,0,5,11,2,1,4,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,5,11,3,1,4,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,2,5,11,5,1,6,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,3,5,11,6,2,6,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,4,5,11,4,1,6,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [29]:
data_14 = data_14.drop(['Unnamed: 0'], axis=1)

In [5]:
feat_19 = pd.read_csv("/content/2019_시간대_전체_20230112_20462.csv", encoding="cp949")
feat_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52182 entries, 0 to 52181
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회차        52182 non-null  int64
 1   행정구역시도코드  52182 non-null  int64
 2   가구일련번호    52182 non-null  int64
 3   가구원일련번호   52182 non-null  int64
 4   요일코드      52182 non-null  int64
 5   평토일구분코드   52182 non-null  int64
 6   전체가구원수    52182 non-null  int64
 7   연령        52182 non-null  int64
 8   연령코드      52182 non-null  int64
 9   경제활동상태코드  49206 non-null  float64
 10  근무등교코드    52182 non-null  int64
dtypes: float64(1), int64(10)
memory usage: 4.4 MB

In [6]:
new_19 = feat_19[['회차','행정구역시도코드','요일코드','평토일구분코드','연령코드','근무등교코드']]

In [7]:
oh_19 = pd.read_excel('/content/Time use survey_Korea_2019_onehot_only.xlsx')

In [27]:
data_2019 =  pd.concat([new_19, oh_19], axis=1)
data_2019 = data_2019.drop(['Unnamed: 0'], axis=1)
data_2019.head()

,회차,행정구역시도코드,요일코드,평토일구분코드,연령코드,근무등교코드,(주행동시간대) 오전 00:00,(주행동시간대) 오전 00:10,(주행동시간대) 오전 00:20,(주행동시간대) 오전 00:30,...,(주행동시간대) 오후 10:20,(주행동시간대) 오후 10:30,(주행동시간대) 오후 10:40,(주행동시간대) 오후 10:50,(주행동시간대) 오후 11:00,(주행동시간대) 오후 11:10,(주행동시간대) 오후 11:20,(주행동시간대) 오후 11:30,(주행동시간대) 오후 11:40,(주행동시간대) 오후 11:50
0,5,11,0,3,5,2,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,5,11,1,1,5,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,5,11,0,3,3,2,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,5,11,1,1,3,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,5,11,0,3,3,2,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [30]:
col_list = data_2019.columns.to_list()

In [31]:
data_14.columns = col_list
data_14.head()

,회차,행정구역시도코드,요일코드,평토일구분코드,연령코드,근무등교코드,(주행동시간대) 오전 00:00,(주행동시간대) 오전 00:10,(주행동시간대) 오전 00:20,(주행동시간대) 오전 00:30,...,(주행동시간대) 오후 10:20,(주행동시간대) 오후 10:30,(주행동시간대) 오후 10:40,(주행동시간대) 오후 10:50,(주행동시간대) 오후 11:00,(주행동시간대) 오후 11:10,(주행동시간대) 오후 11:20,(주행동시간대) 오후 11:30,(주행동시간대) 오후 11:40,(주행동시간대) 오후 11:50
0,5,11,2,1,4,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,5,11,3,1,4,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,5,11,5,1,6,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,5,11,6,2,6,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,5,11,4,1,6,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [32]:
data_all = pd.concat([data_14, data_2019])
data_all.head()

,회차,행정구역시도코드,요일코드,평토일구분코드,연령코드,근무등교코드,(주행동시간대) 오전 00:00,(주행동시간대) 오전 00:10,(주행동시간대) 오전 00:20,(주행동시간대) 오전 00:30,...,(주행동시간대) 오후 10:20,(주행동시간대) 오후 10:30,(주행동시간대) 오후 10:40,(주행동시간대) 오후 10:50,(주행동시간대) 오후 11:00,(주행동시간대) 오후 11:10,(주행동시간대) 오후 11:20,(주행동시간대) 오후 11:30,(주행동시간대) 오후 11:40,(주행동시간대) 오후 11:50
0,5,11,2,1,4,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,5,11,3,1,4,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,5,11,5,1,6,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,5,11,6,2,6,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,5,11,4,1,6,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [33]:
data_all.to_excel(excel_writer='Time use survey_Korea_14+19.xlsx', index=False)

In [36]:
data_all.isnull().sum()

회차                   0
행정구역시도코드             0
요일코드                 0
평토일구분코드              0
연령코드                 0
                    ..
(주행동시간대) 오후 11:10    0
(주행동시간대) 오후 11:20    0
(주행동시간대) 오후 11:30    0
(주행동시간대) 오후 11:40    0
(주행동시간대) 오후 11:50    0
Length: 150, dtype: int64