<a href="https://colab.research.google.com/github/mini3713/mini3713/blob/main/occupancy/occupancy_profile_step2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import pandas as pd
data = pd.read_csv('/content/all time series_20221123_63976.csv',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (14,15,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [121]:
df = data.transpose()
df

,0,1,2,3,4,5,6,7,8,9,...,52172,52173,52174,52175,52176,52177,52178,52179,52180,52181
0,5,5,5,5,5,5,5,5,5,5,...,7,7,7,7,7,7,7,7,7,7
1,31,31,31,31,32,32,33,33,33,33,...,12386,12386,12386,12386,12387,12387,12387,12387,12388,12388
2,1,1,2,2,1,1,1,1,2,2,...,1,1,2,2,1,1,2,2,1,1
3,0,1,0,1,4,5,5,6,5,6,...,0,6,0,6,2,3,2,3,0,6
4,3,1,3,1,1,1,1,2,1,2,...,3,2,3,2,1,1,1,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1114011,8244011,1114011,1114011,72*4011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,9104119,1114011,1114011
146,1114011,8244011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,9104119,1114011,1114011
147,1114011,1414011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414041,1114011,1114011
148,1114011,1414011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414041,1114011,1114011
149,1114011,4224011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114041,1114011,1114011

In [122]:
df_t = df.iloc[6:,:]
df_t

,0,1,2,3,4,5,6,7,8,9,...,52172,52173,52174,52175,52176,52177,52178,52179,52180,52181
6,25*2011,1124011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
7,25*2011,1124011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
8,25*2011,2494011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
9,25*2011,2494011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
10,25*2011,2494011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1114011,8244011,1114011,1114011,72*4011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,9104119,1114011,1114011
146,1114011,8244011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,9104119,1114011,1114011
147,1114011,1414011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,5114013,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414041,1114011,1114011
148,1114011,1414011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414041,1114011,1114011
149,1114011,4224011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114041,1114011,1114011

In [50]:
df_t.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,52172,52173,52174,52175,52176,52177,52178,52179,52180,52181
0,6,25*2011,1124011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
1,7,25*2011,1124011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
2,8,25*2011,2494011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
3,9,25*2011,2494011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
4,10,25*2011,2494011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,145,1114011,8244011,1114011,1114011,72*4011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,9104119,1114011,1114011
140,146,1114011,8244011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,9104119,1114011,1114011
141,147,1114011,1414011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414041,1114011,1114011
142,148,1114011,1414011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1414041,1114011,1114011
143,149,1114011,4224011,1114011,1114011,1114011,1114011,1114011,1114011,1114011,...,1114011,1114011,1114011,1114011,1114011,1114011,1114011,1114041,1114011,1114011

In [123]:
import numpy as np

for i in range(0, df_t.shape[1]):

  df_t.loc[df_t[i].str[4:6] == '01', i] = '1'


for i in range(0, df_t.shape[1]):

  df_t.loc[df_t[i].str.len() > 2, i] = '0'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [124]:
df_t

,0,1,2,3,4,5,6,7,8,9,...,52172,52173,52174,52175,52176,52177,52178,52179,52180,52181
6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
10,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
146,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
147,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
148,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
149,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1

In [125]:
ts = pd.date_range('2019-09-01 00:00:00', '2019-09-01 23:50:00', freq='10min')

In [128]:
df_t.head()

,Time,0,1,2,3,4,5,6,7,8,...,52172,52173,52174,52175,52176,52177,52178,52179,52180,52181
6,2019-09-01 00:00:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7,2019-09-01 00:10:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
8,2019-09-01 00:20:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
9,2019-09-01 00:30:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
10,2019-09-01 00:40:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1